@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

/* Reset default css elements */
body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
    grid-template-rows: auto 50px;
    grid-template-columns: 12% auto;
    grid-template-areas:
        "sidebar right"
        "sidebar footer"
    ;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline;
    padding: 15px;
}

ul li a {
    color: #fff;
}

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #eee;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

header {
    background-color: #414141;

    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#main-content {
    background-color: #e9e9e9;
    padding: 15px;
    border-top: 5px solid #888;

    display: grid;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
    margin: 5px;
}

#css-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #414141;
    color: white;
    padding: 10px;
    border-right: 2px solid #eee;
}

.main {
    grid-area: right;
    display: grid;
    grid-template-rows: 50px fit-content(30%);
}

.footer {
    grid-area: footer;
    padding: 15px;
    background-color: lightgray;
    border-top: 5px solid #888;
}

.footer p {
    margin: 0;
}