@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

/* Reset default css elements */
body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    float: right;
}

ul li {
    display: inline;
    padding: 15px;
}

ul li a {
    color: #fff;
}

#logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #eee;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

header {
    background-color: #414141;

    display: grid;
    grid-template-columns: [logo-start] fit-content(20%) [nav-start] auto [nav-end];
}

section#main {
    background-color: #e9e9e9;
    padding: 15px;
    border-top: 5px solid #888;

    display: grid;
    grid-template-columns: repeat(2, auto);
}

#content h1 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
    margin: 5px;
}

#css-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}